# Conexiones de Catalog.API y Basket.API.
CATALOG_DATABASE_CONNECTION=Host=HOST;Port=5432;Database=DATABASE;Username=USER;Password=PASSWORD;SSL Mode=Require
BASKET_DATABASE_CONNECTION=Host=HOST;Port=5432;Database=DATABASE;Username=USER;Password=PASSWORD;SSL Mode=Require
BASKET_REDIS_CONNECTION=HOST:PORT,user=default,password=PASSWORD,abortConnect=false

# Conexión de Orders.API.
MONGODB_CONNECTION_STRING=mongodb+srv://USUARIO:PASSWORD@CLUSTER.mongodb.net/?retryWrites=true&w=majority
FRONTEND_URL=http://localhost:5173

# Estas dos son opcionales; se muestran sus valores predeterminados.
MONGODB_DATABASE_NAME=OrdersDb
MONGODB_COLLECTION_NAME=orders
